name: PR Preview Deployment

on:
  pull_request:
    branches:
      - main

jobs:
  preview:
    runs-on: ubuntu-latest

    steps:
      # checkout code
      - name: Checkout code
        uses: actions/checkout@v4
        
      # Setup node
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'

      # Install dependencies
      - name: Install dependencies
        run: yarn install --frozen-lockfile

      # Run tests
      - name: Run tests
        run: yarn test || echo "No tests defined"
      # Deploy to vercel preview
      - name: Deploy to vercel preview
        uses: amondnet/vercel-action@v25
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }}
          scope: rahat9016s-projects
          github-comment: true
